html, body {
	background: #121212;
}

html {
	height: 100vh;
}

body {
	min-height: calc(100% - 60px);
}

* {
	padding: 0;
	margin: 0;
}

h1, h2, h3, div, span {
	font-family: "Open-Sans", sans-serif;
	color: #a5a5a5;
}

::-webkit-scrollbar {
	width: 3px;
}

::-webkit-scrollbar-thumb {
	background-color: #5998ff;
}

::-webkit-scrollbar-track {
	background-color: #121212;
}
